@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
* {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "slnt" 0;
    color: #FDE581;
    cursor: url('cursor2.png') 10 10, auto;
}
.wrapper {
    position: absolute;
    height: auto;
    width: 100%;
    background-image: linear-gradient(to bottom, #1D1815, #181312);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hero {
    width: 80vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}
#navbar {
    z-index: 2;
    position: fixed;
    top: 0;
    background-image: linear-gradient(to bottom, #1D1815, #1d18159d, #1d181500);
    width: 100%;
    height: 5vh; /* Adjusted height for better responsiveness */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
#navbar li {
    position: relative;
    display: inline-block; /* Changed from inline */
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
    font-size: 20px;
    transition: color 0.5s ease;
    
}
#navbar li a {
    text-decoration: none; /* Remove underlines from links */
    color: #FDE581; /* Set default text color for links */
    transition: color .5s ease;
}
#navbar li a:hover {
    color: #27BD23;
    animation: blink 1.5s infinite;
}
#heroContent {
    position: relative;
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
#myPicture {
    z-index: 1;
    position: relative;
    top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 240px;
    background-image: url('img1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.loadBg {
    z-index: 3;
    width: 100%;
    height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    background-color: #1D1815;
    animation: fadeOut 3s ease-out forwards;
}
.animate {
    animation: resize 3s ease-out;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes resize {
    0% {
        height: 0px;
    }
    50% {
        height: 500px;
    }
    100% {
        height: 240px;
    }
}
@keyframes navPos {
    0% {
        top: -10%;
    }
    100% {
        top: 0;
    }
}
@keyframes textPosition {
    0% {
        top: -100%;
    }
    50% {
        top: -50%;
    }
    100% {
        top: -50px;
    }
}
@keyframes introPosition {
    0% {
        bottom: -100%;
    }
    50% {
        bottom: -50%;
    }
    100% {
        bottom: -50px;
    }
}
#introduction {
    position: relative;
    bottom: -50px;
    text-align: center;
    animation: introPosition 2.5s ease-out;
}
#headText {
    position: absolute;
    top: -50px;
    font-size: 75px;
    animation: textPosition 2.5s ease-out;
}
#location-img {
    width: 20px;
    height: 20px;
}
#loctn {
    transition: color .5s ease;
}
#loctn:hover {
    color: #27BD23;
}
.hero a {
    text-decoration: none;
    color: #FDE581;
    position: relative;
    left: -40%;
    bottom: 3%;
}
/* aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa */
.works {
    box-sizing: border-box;
    position: relative;
    height: 200vh;
    width: 80vw;
    padding-top: 50px;
    padding-bottom: 50px;
}
.prjcts.show {
    opacity: 1;
    transform: translateX(0);
}
.prjcts {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1s ease, transform 1s ease;
    width: 500px;
    height: 300px;
    background-color: gray;
}
.prjcts h3{
    color: #fde4817c;
}
.line {
    width: 200px;
    height: 4px;
    background-color: #27BD23;
}
#prj1 {
    background-image: url('prj1.png');
    background-size: cover;
    background-position: center;
}
#prj2 {
    position: absolute;
    top: 15%;
    right: -5%;
    background-image: url('prj2.png');
    background-size: cover;
    background-position: center;
}
#prj3 {
    position: absolute;
    top: 40%;
    left: 10%;
    background-image: url('prj3.png');
    background-size: cover;
    background-position: center;
}
#prj4 {
    position: absolute;
    top: 70%;
    right: 15%;
    background-image: url('prj4.png');
    background-size: cover;
    background-position: center;
}
.tlbg {
    position: relative;
    left: -15%;
    top: 50%;
    height: 50%;
    width: 40%;
    /* background-image: linear-gradient(to top right, transparent 0%,#1d18157c 20%, #1d181500 80%, transparent 100%); */
}
/* aaaaaaaaaaaaaaaaaaaaa */
.about {
    width: 100%;
    height: 100vh;
    background-color: #181312;
    box-sizing: border-box;
    padding: 0 10% 0 10%;
}
.infos p {
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
}
.infos p:nth-child(n+2){
    text-indent: 25px;
}
.infos p:nth-child(n+8){
    text-indent: 50px;
}
.infos p:nth-child(5){
    text-indent: 0;
}
.infos p:nth-child(6){
    text-indent: 0;
}
.infos p:nth-child(12){
    text-indent: 25px;
}
.infos p:nth-child(13){
    text-indent: 0;
}
.infos p:nth-child(14){
    text-indent: 0;
}
.infos p:nth-child(15){
    text-indent: 25px;
}
.infos p:nth-child(16){
    text-indent: 0;
}
.infos p:hover {
    background-color: #271f1d;
}
#blinking {
    animation: blink 1s infinite;
    color: white;
}
@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@media (max-width: 600px) {
    #myPicture {
        width: 95vw;
        height: 240px;
    }
    .loadBg {
        font-size: 50px;
    }
    #navbar li a {
        position: relative;
        left: -10%;
        font-size: 15px;
    }
    #headText {
        position: relative;
        font-size: 45px;
    }
    .works {
        padding-top: 50px;
    }
    .about {
        padding-top: 50px;
    }
    .prjcts {
        width: 80vw;
        height: 250px;
    }
    #prj1,#prj2,#prj3,#prj4{
        margin-top: 20px;
        margin-bottom: 20px;
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #works {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    .tlbg {
        left: -3%;
        top: 50%;
        height: 50%;
        width: 40%;
        /* background-image: linear-gradient(to top right, transparent 0%,#1d18157c 20%, #1d181500 80%, transparent 100%); */
    }
    .about {
        padding: 0;
    }
    .infos p {
        width: 95vw;
    }
}